* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo img {
  height: 5rem;
  position: absolute;
  top: 20px;
  left: 20px;
}

body {
  display: flex;
  align-items: center;
  background-image: url("../images/home-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  justify-content: left;
  min-height: 100vh;
}
menu {
  position: relative;
  width: 300px;
  height: 300px;
  background: rgb(14, 9, 9);
  justify-content: center;
  display: flex;
  text-align: center;
}
.menu li {
  position: absolute;
  list-style: none;
  left: 0;
  transform-origin: 100px;
  transition: 1s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(80px);
}
.menu.active li {
  transform: rotate(calc(360deg / 5 * var(--i)));
}
.menu li a {
  background: rgb(201, 99, 17);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70%;
  transform: rotate(calc(360deg / -5 * var(--i)));
  box-shadow: 0 3px 4px grey;
  transition: 1s;
}
.menu li a:hover {
  color: aqua;
}
.toggle {
  width: 60px;
  height: 60px;
  position: right;
  justify-content: center;
  z-index: 10000;
  border-radius: 90%;
  cursor: pointer;
  background: white;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 4px black;
  font-size: 2em;
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }
  body {
    font-size: 45%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
